20130606_sample_info.txt
COSMIC_catalogue-signatures_SBS96_v3.5/
FIGURES/
FIGURES_new/
GDCdata/
LOLLIPOP_PLOTS/
LOLLIPOP_SA/
SigProfiler_results_GRCh38_WES/
Trimmomatic-0.39.zip
Trimmomatic-0.39/
accessions.txt
annovar/
annovar_detailed/
annovar_files/
annovar_results/
bam/
bam_indian_samples/
biosamples.txt
chr_to_num.txt
current_batch.txt
fastq/
fastq_links.txt
final_maf_results/
indian_srrs.txt
indian_study_samples/
known_sites/
logs_bam_indian_samples/
logs_results/
old_logs/
qc/
reference/
remaining.txt
resources/
results/
reviewer_figures/
samples.txt
scripts/
trimmed_fastq/
trimmed_indian_study_samples/
untrimmed_aligned/
urls.txt

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
